.RightColumn {
  width: calc(40% - 2em);
}

.SummaryDetails {
  font-size: 15px;
}

.SectionDetails {
  font-size: small;
}

@media screen and (max-width: 671px) {
  .RightColumn {
    width: 100%;
    max-width: 5000px;
    }
}
