.SideBarLink {
	display: block;
	padding: 16px 0px;
	color: #333131;
}

.SideBarLink > a{
  text-decoration: none;
  color: #333131;
}


.SideBarLink > a:hover{
  text-decoration: none;
  color: #173385;
}


.SideBarIcon {
  font-size: '23px';
  padding-right: '10px';
}

/* Underline From Left */
.hvr-underline-from-left {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #888888;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
